/* font */
@font-face {
    font-family: MonumentUB;
    src: url(../font/MonumentExtended-Regular.otf);
  }
/* background */
body {
    background-image: url("../img/RC_Homepage_Bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
   }
/* Navbar */
   .navbar-right {
    float: right;
  }

  .navbar {
    font-family: MonumentUB;
  }

  .nav-link{
      color: #1b1b1b !important;
  }

.navSp {
	width: 200px;
	height: 40px;
	background-color: #f4b318;
	text-align: center;
	margin-right: 2px;
    border-radius: 25px;
    color: white !important;
}

/* Card */
.w3-card-4{
    box-shadow:0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
    font-family: MonumentUB;
}

.w3-container{
    padding:0.01em 16px;
}

.cardR{
    padding-left: 0 !important;
    padding-right: 0 !important;
    --bs-gutter-x : 0 !important;
}
/* Social Link */
.fa {
    padding: 8px;
    font-size: 20px;
    width: 30px;
    text-align: center !important;
    text-decoration: none;
   
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #f4b318;
    color: white;
  }
  
  .fa-linkedin {
    background: #f4b318;
    color: white;
  }
  
  .fa-instagram {
    background: #f4b318;
    color: white;
  }